<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboard}">
<head th:replace="~{admin/dashboard::head}">
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="~{admin/dashboard::header}"></header>

</header>
<!-- Lista de Reclamaciones -->
<div class="container mt-4" layout:fragment="page-content">
    <nav class="navbar navbar-light bg-light m-2">
        <h4 class="ps-3"><i class="fa-solid fa-gauge me-2"></i>Reclamos</h4>
    </nav>
    <hr>
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
                <th>Correo Electrónico</th>
                <th>Asunto</th>
                <th>Mensaje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reclamacion : ${reclamaciones}">
                <td th:text="${reclamacion.id}"></td>
                <td th:text="${reclamacion.nombreCompleto}"></td>
                <td th:text="${reclamacion.correoElectronico}"></td>
                <td th:text="${reclamacion.asunto}"></td>
                <td th:text="${reclamacion.mensaje}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block layout:fragment="page-scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
</th:block>

</body>
</html>