<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboard}">
<head th:replace="~{admin/dashboard::head}">
  <meta charset="UTF-8">
</head>
<body>
<header th:replace="~{admin/dashboard::header}"></header>

<div class="container-fluid" layout:fragment="page-content">
  <nav class="navbar navbar-light bg-light m-2">
    <h4 class="ps-3"><i class="fa-solid fa-gauge me-2"></i>Productos</h4>
    <div class="col-3 align-self-center">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-success btnAgregar" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar</button>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="productoForm" enctype="multipart/form-data">
              <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-group mb-3">
                  <label>ID de Producto</label>
                  <input type="text" id="id_producto" name="id_producto" class="form-control" value="0" readonly="true">
                </div>
                <div class="form-group mb-3">
                  <label for="nombre_prod">Nombre</label>
                  <input type="text" class="form-control" name="nombre_prod" id="nombre_prod" required>
                </div>
                <div class="form-group mb-3">
                  <label for="marca">Marca</label>
                  <input type="text" class="form-control" name="marca" id="marca" required>
                </div>
                <div class="form-group mb-3">
                  <label for="precio">Precio (S/)</label>
                  <input type="number" step="0.01" class="form-control" name="precio" id="precio" required>
                </div>
                <div class="form-group mb-3">
                  <label for="stock">Stock (unidades)</label>
                  <input type="number" class="form-control" name="stock" id="stock" value="0" required>
                </div>
                <div class="form-group mb-3">
                  <label for="imagen">Imagen</label>
                  <input type="file" class="form-control" name="imagen" id="imagen" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">Guardar</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>
        <table class="table table-striped table-hover">
          <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="producto : ${productos}">
            <td th:text="${producto.id_producto}"></td>
            <td th:text="${producto.nombre_prod}"></td>
            <td th:text="${producto.marca}"></td>
            <td>S/ <span th:text="${producto.precio}"></span></td>
            <td><span th:text="${producto.stock}"></span> unidades</td>
            <td><img th:src="@{'/img/' + ${producto.imagen}}" width="100"></td>
            <td>
              <a type="button" class="btn btn-warning btnEditar" data-bs-toggle="modal" data-bs-target="#modalAgregar" th:data-id_producto="${producto.id_producto}"
                 th:data-nombre_prod="${producto.nombre_prod}" th:data-marca="${producto.marca}"
                 th:data-precio="${producto.precio}" th:data-stock="${producto.stock}"
                 th:data-imagen="${producto.imagen}">
                Editar
              </a>
              <a th:href="@{/admin/productos/delete/{id}(id=${producto.id_producto})}" type="button" class="btn btn-danger btnEliminar">Eliminar</a>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<th:block layout:fragment="page-scripts">
    <script th:src="@{/js/producto.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
</th:block>
</body>
</html>
