<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla::head}">
  <meta charset="UTF-8">

</head>
<body class="body-fondo">
<header th:replace="~{plantilla::header}">

</header>
<div class="container my-4">
  <h1 class="text-center">Ropa Infantil</h1>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 1', 25.99)">
        <img src="/img/ropa-infantil1.jpeg" alt="Producto 1" class="product-img">
        <p>Producto 1</p>
        <p class="price">S/25.99</p>
      </button>
    </div>
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 2', 30.50)">
        <img src="/img/ropa-infantil2.jpeg" alt="Producto 2" class="product-img">
        <p>Producto 2</p>
        <p class="price">S/30.50</p>
      </button>
    </div>
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 3', 19.99)">
        <img src="/img/ropa-infantil3.jpeg" alt="Producto 3" class="product-img">
        <p>Producto 3</p>
        <p class="price">S/19.99</p>
      </button>
    </div>
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 4', 45.00)">
        <img src="/img/ropa-infantil4.jpeg" alt="Producto 4" class="product-img">
        <p>Producto 4</p>
        <p class="price">$S/45.00</p>
      </button>
    </div>
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 5', 27.50)">
        <img src="/img/ropa-infantil5.jpeg" alt="Producto 5" class="product-img">
        <p>Producto 5</p>
        <p class="price">S/27.50</p>
      </button>
    </div>
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 6', 22.99)">
        <img src="/img/ropa-infantil6.jpeg" alt="Producto 6" class="product-img">
        <p>Producto 6</p>
        <p class="price">S/22.99</p>
      </button>
    </div>
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 7', 34.99)">
        <img src="/img/ropa-infantil7.jpeg" alt="Producto 7" class="product-img">
        <p>Producto 7</p>
        <p class="price">S/34.99</p>
      </button>
    </div>
    <div class="col-md-3 product-item">
      <button class="btn product-btn" onclick="addToCart('Producto 8', 40.99)">
        <img src="/img/ropa-infantil8.jpeg" alt="Producto 8" class="product-img">
        <p>Producto 8</p>
        <p class="price">S/40.99</p>
      </button>
    </div>
  </div>
</div>
<footer th:replace="~{plantilla::footer}">

</footer>
</body>
</html>