<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla::head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body class="body-fondo">
<header th:replace="~{plantilla::header}">

</header>

<div class="container my-4">
    <h1 class="text-center">Categorias</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-2 g-6">
        <div class="col">
            <div class="card">
                <img src="/img/mujer-cat.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mujer</h5>
                    <p class="card-text">Descubre nuestra colección de moda femenina, elegantes para cada ocasión. ¡Siéntete única con nuestras prendas exclusivas!</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/hombre-cat.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hombre</h5>
                    <p class="card-text">Estilo y comodidad para ellos. Explora nuestra colección de ropa masculina, diseñada para marcar tendencia y adaptarse a tu día a día.</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/infantil-cat.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Infantil</h5>
                    <p class="card-text">Moda divertida y cómoda para los más pequeños. Encuentra las prendas perfectas para acompañar cada aventura de tus hijos.</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/botines-cat.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Botines</h5>
                    <p class="card-text">Botines elegantes y versátiles para cualquier ocasión. Dale un toque de estilo a tus pasos con nuestra exclusiva selección</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/zapatillas-cat.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Zapatillas</h5>
                    <p class="card-text">Zapatillas modernas y cómodas para un look casual y dinámico. Perfectas para el día a día o tus actividades deportivas.</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/accesorio-cat.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Accesorios</h5>
                    <p class="card-text">Complementa tu look con nuestros accesorios. Encuentra bolsos, gafas, y más para agregar un toque único a tu estilo.</p>
                    <a href="#" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{plantilla::footer}">

</footer>
</body>
</html>