<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantilla::head}">
    <meta charset="UTF-8">
</head>

<body class="body-fondo">
    <header th:replace="~{plantilla::header}">

    </header>
    <div class="container my-4">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/carrusel1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/carrusel2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/carrusel3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/carrusel4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <section class="category-section text-center">
            <div class="container">
                <h2 class="mb-5">¿Qué producto deseas comprar?</h2>
                <div class="row justify-content-center">
                    <div class="col-md-2 category-item" th:each="categoria : ${categoria}">
                        <button class="btn category-btn">
                            <img th:src="@{'/img/'+${categoria.img_cate}}" th:alt="${categoria.nombre}" class="category-img">
                            <p th:text="${categoria.nombre}"></p>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="products-section text-center">
            <div class="container">
                <h2 class="mb-5">Nuestros Productos</h2>
                <div class="row justify-content-center">
                    <div class="col-12 mb-5">
                        <div class="cart-visualization">
                            <h3>Productos Comprados Recientemente</h3>
                            <ul id="recent-purchases">
                            </ul>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 1', 25.99)">
                                <img src="/img/producto1.png" alt="Producto 1" class="product-img">
                                <p>Producto 1</p>
                                <p class="price">S/25.99</p>
                            </button>
                        </div>
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 2', 30.50)">
                                <img src="/img/producto2.png" alt="Producto 2" class="product-img">
                                <p>Producto 2</p>
                                <p class="price">S/30.50</p>
                            </button>
                        </div>
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 3', 19.99)">
                                <img src="/img/producto3.png" alt="Producto 3" class="product-img">
                                <p>Producto 3</p>
                                <p class="price">S/19.99</p>
                            </button>
                        </div>
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 4', 45.00)">
                                <img src="/img/producto4.png" alt="Producto 4" class="product-img">
                                <p>Producto 4</p>
                                <p class="price">$S/45.00</p>
                            </button>
                        </div>
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 5', 27.50)">
                                <img src="/img/producto5.png" alt="Producto 5" class="product-img">
                                <p>Producto 5</p>
                                <p class="price">S/27.50</p>
                            </button>
                        </div>
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 6', 22.99)">
                                <img src="/img/producto6.png" alt="Producto 6" class="product-img">
                                <p>Producto 6</p>
                                <p class="price">S/22.99</p>
                            </button>
                        </div>
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 7', 34.99)">
                                <img src="/img/producto7.png" alt="Producto 7" class="product-img">
                                <p>Producto 7</p>
                                <p class="price">S/34.99</p>
                            </button>
                        </div>
                        <div class="col-md-3 product-item">
                            <button class="btn product-btn" onclick="addToCart('Producto 8', 40.99)">
                                <img src="/img/producto8.png" alt="Producto 8" class="product-img">
                                <p>Producto 8</p>
                                <p class="price">S/40.99</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="carousel-marcas">
            <div class="container">
                <h2 class="mb-5">Nuestras Marcas</h2>
                <div id="brandsCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="row text-center">
                            <div class="col-3" th:each="marca : ${marca}">
                                <img th:src="@{'/img/'+${marca.img_marca}}" class="d-block w-100" th:alt="${marca.nombre}">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#brandsCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#brandsCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="~{plantilla::footer}">

    </footer>
</body>

</html>