<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantilla::head}">
    <meta charset="UTF-8">
</head>
<body class="body-fondo">
<header th:replace="~{plantilla::header}">

</header>
<!-- Formulario -->
<div class="container mt-4">
    <h1 class="text-center">Libro de reclamaciones</h1>
    <hr>
    <div class="container-fluid">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="name" placeholder="Tu nombre completo" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="Tu correo electrónico" required>
            </div>
            <div class="mb-3">
                <label for="subject" class="form-label">Asunto</label>
                <input type="text" class="form-control" id="subject" placeholder="Asunto de tu reclamación" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Detalles de tu reclamación" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
<br>
<footer th:replace="~{plantilla::footer}">

</footer>

</body>
</html>