<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla::head}">
  <meta charset="UTF-8">

</head>
<body class="body-fondo">
<header th:replace="~{plantilla::header}">

</header>
<div class="container my-4">
  <h1 class="text-center">Productos</h1>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-3 product-item" th:each="producto : ${producto}" onclick="">
      <button class="btn product-btn">
        <img th:src="@{'/img/' + ${producto.img_prod}}" th:alt="${producto.nombre_prod}" class="product-img">
        <p th:text="${producto.nombre_prod}"></p>
        <p class="price" th:text="@{'S/. '+ ${producto.precio}}"></p>
      </button>
      <button onclick="addToCart(this)">Añadir a carrito</button>
    </div>
  </div>
</div>
<footer th:replace="~{plantilla::footer}">

</footer>
</body>
</html>