<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>

<body>
<button class="back-button" onclick="history.back()"><img src="img/volver.png" width="50" height="50"></button>
<form class="box" id="box" th:action="@{/login}" method="post">
    <h1>Login</h1>
    <div th:if="${param.error}">
        <div>Usuario o contraseña inválido</div>
    </div>
    <div th:if="${param.logout}">
        <div>Ha cerrado sesión exitosamente</div>
    </div>
    <input type="text" placeholder="Ingrese su email" name="username" id="username" required autofocus="autofocus"/>
    <input type="password" placeholder="Ingrese su contraseña" name="password" id="password" required autofocus="autofocus"/>
    <button type="submit" value="Ingresar" id="login-submit">Ingresar</button>

    <h3>¿No tienes cuenta? <a href="registrar">Registrate aquí</a></h3>
</form>
</body>

</html>