<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>

<body>
<button class="back-button" onclick="history.back()"><img src="img/volver.png" width="50" height="50"></button>
<form class="box" id="box">
    <h1>Registro</h1>
    <input type="text" placeholder="Ingrese su usuario" id="name" />
    <input type="password" placeholder="Ingrese su contraseña" id="pass" />
    <input type="password" placeholder="Confirme su contraseña" id="confirpass" />
    <input type="button" value="Registrar" id="send" />

    <h3>¿Ya tienes una cuenta? <a href="login">Ingresa aquí</a></h3>
</form>
</body>

</html>