<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla::head}">
    <meta charset="UTF-8">

</head>
<body class="body-fondo">
<header th:replace="~{plantilla::header}">

</header>

<!-- Contenido -->
<div class="container my-4">
    <h1 class="text-center">Sobre Nosotros</h1>
    <hr>
    <p>Última actualización: Septiembre 2024</p>
    <div class="container-fluid">
        <h2 class="fw-light">
            ¿Quienes somos?
        </h2>
        <div class="row text-center p-3" style="--bs-columns: 12; --bs-gap: 1rem">
            <div class="col-lg-1">
                <img src="img/logo.png" style="width: 70px" class="rounded  img-fluid">
            </div>
            <div class="col-lg-10">
                <p class="text-start text-sm-start fw-semibold ">
                    En <strong>You Design</strong>, somos un equipo apasionado por ofrecer moda de alta calidad con
                    un toque único. Fundada en 2015, nuestra misión es brindar a nuestros clientes una experiencia
                    de compra excepcional, ofreciendo prendas que combinan estilo y comodidad.
                </p>
            </div>
        </div>
        <h2 class="fw-light">
            Visión
        </h2>
        <div class="row text-center p-3" style="--bs-columns: 12; --bs-gap: 1rem">
            <div class="col-lg-1">
                <img src="img/vision.png" style="width: 70px" class="rounded  img-fluid">
            </div>
            <div class="col-lg-10">
                <p class="text-start text-sm-start fw-semibold ">
                    Aspiramos a ser un líder en el comercio de moda en línea, reconocidos por nuestra capacidad de
                    anticipar y adaptarnos a las últimas tendencias. Queremos ser la primera opción para los amantes
                    de la moda, destacándonos por nuestro compromiso con la sostenibilidad y la atención al detalle
                    en cada diseño.
                </p>
            </div>
        </div>
        <h2 class="fw-light">
            Misión
        </h2>
        <div class="row text-center p-3" style="--bs-columns: 12; --bs-gap: 1rem">
            <div class="col-lg-1">
                <img src="img/mision.png" style="width: 70px" class="rounded  img-fluid">
            </div>
            <div class="col-lg-10">
                <p class="text-start text-sm-start fw-semibold ">
                    En <strong>You Design</strong>, nos esforzamos por democratizar el acceso a la moda de alta
                    calidad. Nuestro objetivo es proporcionar ropa que no solo sea moderna y elegante, sino también
                    asequible y cómoda para todos. Creemos que cada persona merece sentirse especial y confiada en
                    lo que lleva puesto.
                </p>
            </div>
        </div>
        <h2 class="fw-light">
            Nuestro Equipo
        </h2>
        <div class="row text-center p-3" style="--bs-columns: 12; --bs-gap: 1rem">
            <div class="col-lg-1">
                <img src="img/equipo.png" style="width: 70px" class="rounded  img-fluid">
            </div>
            <div class="col-lg-10">
                <p class="text-start text-sm-start fw-semibold ">
                    Contamos con un equipo diverso y talentoso que incluye diseñadores creativos, expertos en moda y
                    profesionales de atención al cliente dedicados. Cada miembro de nuestro equipo aporta su
                    experiencia y pasión por la moda, asegurando que cada prenda que ofrecemos cumpla con los más
                    altos estándares de calidad.
                </p>
            </div>
        </div>
        <h2 class="fw-light">
            Contacta con Nosotros
        </h2>
        <div class="row text-center p-3" style="--bs-columns: 12; --bs-gap: 1rem">
            <div class="col-lg-1">
                <img src="img/contacto_nosotros.png" style="width: 70px" class="rounded  img-fluid">
            </div>
            <div class="col-lg-10">
                <p class="text-start text-sm-start fw-semibold ">
                    Para más información o si tienes alguna pregunta, no dudes en <a
                        href="mailto:contacto@youdesign.com">enviarnos un correo electrónico</a> o <a
                        href="tel:+51902658227">llamarnos al (+51) 902 658 227</a>. Estaremos encantados de ayudarte
                    y responder cualquier consulta que puedas tener.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p class="mb-0">© 2024 You Design. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>